<div class="jumbotron">
  <h1> Standard Membership </h1>
  <h3> Back down to coach </h3>
</div>

<div class="center">
  <p class="lead">Are you sure you want to go? No hard feelings, but give it one last thought!</p>


  <p> Click below to revert to standard membership. You'll still have access to all public wikis, but you'll lose private wikis and collaboration tools.</p>

  <%=button_to "Take me back to Standard", downgrade_path, method: :put, class: "btn btn-danger" %>
  </br>
  <%= link_to "Back", :back, class: "btn btn-success" %>
</div>
