<h1 class="title">Blocipedia: Social Learning</h1>
<h3 class="support"> Markdown wikis for everyone </h3>

<div class="jumbotron">
  <% if !(user_signed_in?) %>
    <div class="sign-up">
      <p>Create an account to build, edit, and share Markdown Wikis<p>
      <div class="col-md-16">
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
      </div>
    </div>
  <% else %>
    <%=link_to "Click to get started viewing our wikis!", wikis_path %>
  <%end%>
</div>

<div class="row">
  <div class="col-md-6">
    <p class="lead">Create as many public wikis as you want!</p>
    <%= link_to "Free Plan", root_path, class: 'btn btn-success' %>
  </div>

  <div class="col-md-6">
    <p class="lead">Create private wikis!</p>
    <%= link_to "Premium Plan", root_path, class: 'btn btn-success' %>
  </div>
</div>
